{% extends "base.html" %}
<!-- MODIFY THIS TO MODIFY CONFIRMATION PAGE -->
{% block content %}
  {% if confirmed %}
    <h2>Purchase Confirmed</h2>
    <ul>
      <li>Ticket #: {{ ticket_id }}</li>
      <li>Airline: {{ airline_name }}</li>
      <li>Flight #: {{ flight_num }}</li>
      <!-- <li>Depart: {{ departure_airport }} at {{ departure_time }}</li>
      <li>Arrive: {{ arrival_airport }} at {{ arrival_time }}</li> -->
      <li>Price: {{ "%.2f"|format(price) }}$</li>
      <li>Seats used/capacity: {{ sold }}/{{ seat_capacity }} ({{ seats_left }} left)</li>
    </ul>

    <div style="margin-top: 1rem;">
      <a href="{{ url_for('customer.search_flights') }}">Search more flights</a>
      <span style="margin: 0 0.5rem;">|</span>
      <a href="{{ url_for('customer.dashboard') }}">Go to My Flights</a>
    </div>
  {% else %}
    <h2>Purchse should be confirmed. Let us know of this bug</h2>
  {% endif %}
{% endblock %}
