{% extends "base.html" %}
<!-- Should be the same as the search of public -->

{% block content %}
<h2>Customer Flight Search</h2>

<form method="POST" action="{{ url_for('customer.search_flights') }}">
  <label>Airport code (arrival):</label>
  <input type="text" name="qArrive" value="{{ qArrive|default('') }}" placeholder="e.g. JFK">

  <label>Airport code (departure):</label>
  <input type="text" name="qDepart" value="{{ qDepart|default('') }}" placeholder="e.g. LAX">

  <label>City (arrival):</label>
  <input type="text" name="qCityArr" value="{{ qCityArr|default('') }}" placeholder="e.g. New York">

  <label>City (departure):</label>
  <input type="text" name="qCityDep" value="{{ qCityDep|default('') }}" placeholder="e.g. New York">

  <label>Date:</label>
  <input type="date" name="qDate" value="{{ qDate|default('') }}">

  <button type="submit">Search</button>
</form>
<!-- block results to be filled in search_results.html -->
{% block dis_results %} {% endblock %}
{% endblock %}
