{% extends "base.html" %}
{% block content %}
<h2>Add Airport</h2>

<form method="post" action="{{ url_for('admin_staff.add_airport') }}">
  <div class="form-group">
    <label>Airport Name</label>
    <input type="text" name="airport_name" class="form-control" required>
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" name="airport_city" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Add Airport</button>
</form>
<a href="{{ url_for('staff.dashboard') }}"
   style="display:inline-block;margin-bottom:1rem;padding:0.4rem 0.8rem;border:1px solid #8789ff;border-radius:4px;text-decoration:none;color:#4f94c6;">
  ← Back to dashboard
</a>
{% endblock %}